{% extends base_template %}

{% block form %}
	<h2>You cannot create a User here.</h2>

	{% if registrationSetting == "optional" %}
		<h3>To give a Listing owner access to their listing:</h3>
		<ul>
			<li>share this link with them: <a href="{{ path('fos_user_resetting_request') }}">Set Password</a></li>
			<li>ask them to enter their e-mail address</li>
			<li>they will be given a chance to create a password, and then login</li>
		</ul>
	{% endif %}

	<h3>To create an admin account for a staff member:</h3>
	<ul>
		<li>share this link with them: <a href="{{ path('fos_user_registration_register') }}">Register</a></li>
		<li>ask them to create an account</li>
		<li>make their new account an admin <a href="{{ admin.generateUrl('list') }}">here</a></li>
	</ul>
{% endblock %}