{% extends "FOSUserBundle::layout.html.twig" %}


{% block page_header %}
	<h1>Have a {{ allListingTypes|length == 1? singleListingType.translationKey|capitalize|trans({}, "messages") : 'Listing' }} that isn't listed?</h1>
{% endblock %}

{% block fos_user_content %}
	<div class="alert alert-block alert-success">
		<h3>Create account for an existing {{ allListingTypes|length == 1? singleListingType.translationKey|capitalize|trans({}, "messages") : 'Listing' }}</h3>
	</div>

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
